# 让 如 String eMail; 这种第二个字符为大写的属性能“正确”生成 getter/setter
lombok.accessors.capitalization=BEANSPEC
# java 所有字段不写修饰符时默认为 private
lombok.fielddefaults.defaultprivate=true
#默认toString 也会调用父类的toString
lombok.tostring.callsuper=CALL
#默认 equalsandhashcode 也会比较父类（消除 @Data 警告）
lombok.equalsandhashcode.callsuper=CALL

#构造注解
lombok.copyableAnnotations+=org.springframework.beans.factory.annotation.Qualifier